body {
  height: 100vh;
  width: 100%;
  background-image: url("./images/bg-bottom.svg"), url("./images/bg-top.svg");
  background-position: left bottom, right top;
  background-repeat: no-repeat, no-repeat;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: hsl(240, 78%, 98%);
  justify-content: center;
  font-family: Montserrat;
}
.pricing {
  position: relative;

  height: 10rem;
  top: -4rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
  color: hsl(232, 13%, 33%);
  font-size: 2rem;
}
.Anually {
  position: relative;
  top: 1.5rem;
  left: -4rem;
  font-size: small;
}
.Monthly {
  position: relative;
  top: -0.4rem;
  left: 4rem;
  font-size: small;
}
.toogleSlot {
  position: relative;
  width: 15%;
  top: 0.5rem;
  left: -0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: hsl(237, 63%, 64%);
  height: 2rem;
  margin-top: 1rem;
  border-radius: 1.5rem;
}
.toogleButton {
  position: relative;
  height: 1rem;
  width: 1rem;
  top: 0.5rem;
  left: 0.5rem;
  border-radius: 50%;
  scale: 1.7;
  background-color: white;
}
h1 {
  font-size: 15px;
}

.list-items {
  position: relative;
  top: -2.5rem;
}
hr {
  position: relative;
  top: -2.5rem;
  color: hsl(240, 78%, 98%);
}
.container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: max-content;
}
.card1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  background-color: white;
  color: hsl(232, 13%, 33%);
  height: 32rem;
  margin: 0.5rem;

  border-radius: 1rem;
}
.price {
  position: relative;
  font-size: 4rem;
  font-weight: 700;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  top: -1rem;
}
.symbol {
  position: relative;
  font-size: 2rem;
  margin: 1rem;
}
.card2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  background-color: white;
  color: hsl(232, 13%, 33%);
  height: 32rem;
  margin: 0.5rem;
  border-radius: 1rem;
}
.card3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  background-color: white;
  color: hsl(232, 13%, 33%);
  height: 32rem;
  margin: 0.5rem;
  border-radius: 1rem;
}
.learnMore {
  position: relative;
  width: 85%;
  height: 2.5rem;
  border-radius: 0.5rem;
  top: -1.5rem;
  color:white;
  background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}
.card1:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  scale: 1.09;
  background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  transition: 0.5s;
  color: white;
}
.card2:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  scale: 1.09;
  background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  transition: 0.5s;
  color: white;
}
.card3:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  scale: 1.09;
  background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  transition: 0.5s;
  color: white;
}
.card1:hover > .learnMore {
  background-image: none;
  background-color: white;
  color: hsl(237, 63%, 64%);

}
.card2:hover > .learnMore {
  background-image: none;
  background-color: white;
  color: hsl(237, 63%, 64%);
}
.card3:hover > .learnMore {
  background-image: none;
  background-color: white;
  color: hsl(237, 63%, 64%);
}

@keyframes left {
  from {
    left: 1.5rem;
  }
  to {
    left: 0.5rem;
  }
}
@keyframes right {
  from {
    left: 0.5rem;
  }
  to {
    left: 1.5rem;
  }
}
@media only screen and (max-width: 550px) {
  body {
    display: block;
  }
  .container {
    display: flex;
    position: relative;
    width: max-content;
    left: 2rem;
    flex-direction: column;
    overflow-y: scroll;
  }
  .card1:hover {
    scale: none;
  }
  .card2:hover {
    scale: none;
  }
  .card3:hover {
    scale: none;
  }
  .pricing {
    top: 2rem;
    left: 1.5rem;
  }
  .card1 {
    width: 95%;
  }
  .card2 {
    width: 95%;
  }
  .card3 {
    width: 95%;
  }
}

@media only screen and (max-width: 375px) {
  body {
    display: block;
  }
  .container {
    display: flex;
    position: relative;
    width: max-content;
    left: 2rem;
    flex-direction: column;
    overflow-y: scroll;
  }
  .card1:hover {
    scale: none;
  }
  .card2:hover {
    scale: none;
  }
  .card3:hover {
    scale: none;
  }
  .pricing {
    top: 2rem;
    left: 1.5rem;
  }
  .card1 {
    width: 95%;
  }
  .card2 {
    width: 95%;
  }
  .card3 {
    width: 95%;
  }
}
